<div align="center">

<h1>My Stars</h1>

⭐ 我的 stars 列表，每天自动更新 ⭐
</div>

## Table of Contents
  
<% for(let [language, repositories] of stars) { %>
## <%= language %>

<% for(let repo of repositories) { %>- [<%= repo.full_name %>](<%= repo.html_url %>) - <%= repo.description %>
<% } %>

<% } %>

<!-- generated with [llnancy/stars](https://github.com/llnancy/stars.git) -->
